body { 
  margin: 0px;
  background-color: black;
  font-family: sans-serif;
}
.header {
  background-color: black;
  display: flex;
}
.container {
  width: 80vw;
  display: flex;
  margin: 0 auto;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-self: top;
  background-color: black;
  height: 15vh;
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: 2px #8cc0d1 solid;
  box-shadow: 0px 4px 8px #8cc0d1;
}
.logo1 {
  width: 20vw;
  margin-right: 300px;
}
.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.navbar li{
  display: flex;
  color: #8cc0d1;
  font-size: 1.5em;
  
}
.navbar li a{
  color: #8cc0d1;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
  margin-right: 3vw;
}
.navbar li a:hover {
  color: white;
  text-shadow: 0 0 10px #ffbc4f;
  transition: 0.6s;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); 
}
main {
  height: 150vh;
  display: flex;
}
footer{
  background-color: black;
  width: 100%;
  height: 16vh;
  display: flex;
  position: absolute;
  border-top: 2px #8cc0d1 solid;
  box-shadow: 0px 4px 8px 8px #8cc0d1;
  margin-top: 100px;
}
.conteudo_footer {
  color: white;
  text-shadow:0px 0px 20px #ffbc4f;
  font-size: 1.2em;
  display: flex;
  align-self: top;
  justify-content: space-around;
  margin-top: 10px;
}
.navbar_footer{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  flex-direction: column;
  width: 100%;
}
footer .conteudo_footer {
  display: flex;
  align-items: center;
}
.conteudo_footer2 {
  display: flex;
  flex-direction: row;
  height: 90px;
  width: 850px;
  justify-content: space-around;
}
.navbar_footer2 {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 500px;
}


.formulario {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center; 
  margin-left: 125px;
}

.formulario .tipo_campo {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-align: center;
}

.cadastrobox {
  display: flex;
  font-size: 20px;
  color: white;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-shadow: 0px 0px 10px #ffbc4f;
  
}
.banner {
  display: flex;
  width: 100%;
  height: 150vh;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  animation: slide 15s infinite;
  background-repeat: no-repeat;
  background-position: center; 
  
}
@keyframes slide {
  0%,
  15% {
    background-image: url(../assets/imgs/MarcaLuba.webp);
  }
  22%,
  37% {
    background-image: url(../assets/imgs/MarcaGuaxinim.webp);
  }
  44%,
  59% {
    background-image: url(../assets/imgs/MarcaRakin.webp);
  }
  66%,
  81% {
    background-image: url(../assets/imgs/MarcaCalango.webp);
  }
  88%,
  100% {
    background-image: url(../assets/imgs/MarcaGabi.webp);
  }
}
.card_medio {
  background-color: rgba(255, 0, 0, 0.356);
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 500px;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 400px;
}
input {
  margin-bottom: 10px;
  border: 2px solid #ffbc4f;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
select {
  margin-bottom: 10px;
  border: 2px solid #ffbc4f;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color:black;
  text-shadow: 0px 0px 10px #ffbc4f;
  background-color: red;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}
