body { 
    margin: 0px;
    background-color: black;
    font-family: sans-serif;
}
.header {
    background-color: black;
    display: flex;
}
.container {
    width: 80vw;
    display: flex;
    margin: 0 auto;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-self: top;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: 2px #8cc0d1 solid;
    box-shadow: 0px 4px 8px #8cc0d1;
}
.logo1 {
    width: 20vw;
    margin-right: 300px;
}
.navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.navbar li{
    display: flex;
    color: #8cc0d1;
    font-size: 1.5em;
    
}
.navbar li a{
    color: #8cc0d1;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 3vw;
}
.navbar li a:hover {
    color: white;
    text-shadow: 0 0 10px #ffbc4f;
    transition: 0.6s;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); 
}
main {
    height: 120vh;
    display: flex;
}
.mainpage {
    display: flex;
    margin: auto; 
    margin-top: 75px;
    height: 755px;
    width: 755px;
    background-image: url(../assets/imgs/spiralis2.webp);
    flex-direction: column;
}
.mainpage h3  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffe0af;
    text-shadow:0px 0px 20px #ffbc4f;
    margin-top: 20%;    
}
.mainpage p {
    display: flex;
    width: 200px;
    height: 75px;
    align-self: center;
        

}
#btn_sinopse{
    border-radius: 30px;
    box-shadow:0px 0px 10px #ffbc4f;
    color: white;
    background-color: black;
    text-shadow: 0px 0px 20px #ffbc4f;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    transition: 0.8s;
}
#btn_sinopse:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    color: white;
    text-shadow: 0px 0px 20px red;
    box-shadow: 0px 0px 10px red;

}
.info {
    display: none;
    width: 600px;
    height: 300px;
    align-self: center;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    text-justify: center;
    align-items: center;
    padding: 0px 40px;
    font-size: 22px;
    color: black;
    text-shadow: 0px 0px 20px red;
    border: red solid;
    background: url(../assets/imgs/cultomedo.webp);
    background-size: cover;
}
footer{
    background-color: black;
    width: 100%;
    height: 17vh;
    display: flex;
    position: absolute;
    border-top: 2px #8cc0d1 solid;
    box-shadow: 0px 4px 8px 8px #8cc0d1;
    margin-top: 100px;
}
.conteudo_footer {
    color: white;
    text-shadow:0px 0px 20px #ffbc4f;
    font-size: 1.2em;
    display: flex;
    align-self: top;
    justify-content: space-around;
    margin-top: 10px;
}
.navbar_footer{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    flex-direction: column;
    width: 100%;
}
footer .conteudo_footer {
    display: flex;
    align-items: center;
}
.conteudo_footer2 {
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 850px;
    justify-content: space-around;
}
.navbar_footer2 {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    width: 500px;
}

