body { 
    margin: 0px;
    background-color: black;
    font-family: sans-serif;
    overflow-x: hidden;
  }
  .header {
    background-color: black;
    display: flex;
  }
  .container {
    width: 80vw;
    display: flex;
    margin: 0 auto;
  }
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-self: top;
    background-color: black;
    height: 15vh;
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: 2px #d400ff solid;
    box-shadow: 0px 4px 8px #d400ff;
  }
  .logo1 {
    width: 20vw;
    margin-right: 50px;
  }
  .navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .navbar li{
    display: flex;
    color: #8cc0d1;
    font-size: 1.5em;
    
  }
  .navbar li a{
    color: #8cc0d1;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 3vw;
  }
  .navbar li .sair:hover {
    color: red;
    text-shadow: 0 0 10px red;
    transition: 0.6s;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); 
  }
  .navbar li .aop:hover {
    color: white;
    text-shadow: 0 0 10px #8cc0d1;
    transition: 0.6s;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); 
  }
  .navbar li .osnf:hover {
    color: white;
    text-shadow: 0 0 10px #d400ff;
    transition: 0.6s;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); 
  }
  .navbar li .desconjuracao:hover {
    color: white;
    text-shadow: 0 0 10px red;
    transition: 0.6s;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); 
  }
  .navbar li .calamidade:hover {
    color: white;
    text-shadow: 0 0 10px #ffbc4f;
    transition: 0.6s;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); 
  }
  .navbar li .votacao:hover {
    color: white;
    text-shadow: 0 0 10px #d400ff;
    transition: 0.6s;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); 
  }
  main {
    height: 140vh;
    display: flex;
  }
  footer{
    background-color: black;
    width: 100%;
    height: 16vh;
    display: flex;
    position: absolute;
    border-top: 2px #d400ff solid;
    box-shadow: 0px 4px 8px 8px #d400ff;
    margin-top: 100px;
  }
  .conteudo_footer {
    color: white;
    text-shadow:0px 0px 20px #ffbc4f;
    font-size: 1.2em;
    display: flex;
    align-self: top;
    justify-content: space-around;
    margin-top: 10px;
  }
  .navbar_footer{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    flex-direction: column;
    width: 100%;
  }
  footer .conteudo_footer {
    display: flex;
    align-items: center;
  }
  .conteudo_footer2 {
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 850px;
    justify-content: space-around;
  }
  .navbar_footer2 {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    width: 500px;
  }

  .testearmas {
      display: flex;
      width: 100%;
      height: 100px;
      justify-content: space-around;
  }
   .danoarma {
    display: flex;
    width: 500px;
    margin-left: 280px;
    margin-top: 75px;
    justify-items: center;    
    color:  #d400ff;
    text-shadow: 0px 0px 10px #d400ff;
  }
  
  .shinokage {
    display: flex;
    margin-top: 50px;
  }

  .btn_rolar {
    display: flex;
    width: 125px;
    height: 70px;
    color: white;
    text-shadow: 0px 0px 10px black;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #ffbc4f;
    border-radius: 15px;
    border-color: red;
  }
  
 